@model Professional


@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-8">
            <div class="card p-3">
                <div class="tab-content" id="myTabContent">
                    <p>ID</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="ID" value="@Model.ID" />
                    <p>Name</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Name" value="@Model.Name" />
                    <p>Profession</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Profession" value="@Model.Profession" />
                    <p>Description</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Description" value="@Html.Raw(Model.Description)" />
                    <p>Facebook Link</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Facebook" value="@Model.Facebook" />
                    <p>Twitter Link</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Twitter" value="@Model.Twitter" />
                    <p>LinkedIn Link</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="LinkedIn" value="@Model.LinkedIn" />
                    <p>Pinterest Link</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Pinterest" value="@Model.Pinterest" />
                    <p>Email</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Email" value="@Model.Email" />
                    <p>Phone</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Phone" value="@Model.Phone" />
                    <p>Created Date</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="CreatedDate" value="@Model.CreatedDate" />

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p>Photo</p>
                    <img class="img-fluid" src="@Model.PhotoURL" />
                </div>
            </div>
            <div class="card p-3 mt-3">
                <a class="btn btn-primary btn-sm" href="/admin/professional/edit">Edit</a>
            </div>
            <div class="card p-3 mt-3">
                <a class="btn btn-primary btn-sm" href="/admin/professional">Back to List</a>
            </div>

        </div>

    </div>



</form>