@model About


@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-8">
            <div class="card p-3">
                <div class="tab-content" id="myTabContent">
                    <p>ID</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="ID" value="@Model.ID" />
                    <p>Count</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Count" value="@Model.Count" />
                    <p>Text</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="Text" value="@Html.Raw(Model.Text)" />
                    <p>Created Date</p>
                    <input style="pointer-events: none;" class="form-control mb-2" name="CreatedDate" value="@Model.CreatedDate" />

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p>Photo</p>
                    <img class="img-fluid" src="@Model.PhotoURL" />
                </div>
            </div>
            <div class="card p-3 mt-3">
                <a class="btn btn-primary btn-sm" href="/admin/about/edit">Edit</a>
            </div>
            <div class="card p-3 mt-3">
                <a class="btn btn-primary btn-sm" href="/admin/about">Back to List</a>
            </div>

        </div>

    </div>



</form>