@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<p>ID</p>
<input style="pointer-events: none;" class="form-control mb-2" name="ID" value="@Model.ID" />
<p>Heading</p>
<input style="pointer-events: none;" class="form-control mb-2" name="Heading" value="@Model.Heading" />
<p>Title</p>
<input style="pointer-events: none;" class="form-control mb-2" name="Title" value="@Model.Title" />
<p>Description</p>
<input style="pointer-events: none;" class="form-control mb-2" name="Description" value="@Model.Description" />


<a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>