@model Introduction


@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data">

    <div class="row">
        <div class="col-lg-8">
            <div class="card p-3">
                <div class="tab-content" id="myTabContent">     
                            <p>ID</p>
                            <input style="pointer-events: none;" class="form-control mb-2" name="Heading" value="@Model.ID" />
                            <p>Heading</p>
                            <input style="pointer-events: none;" class="form-control mb-2" name="Heading" value="@Model.Heading" />
                            <p>Title</p>
                            <input style="pointer-events: none;" class="form-control mb-2" name="Title" value="@Model.Title" />
                            <p>Description</p>
                            <textarea style="pointer-events: none;" id="editor-1" class="form-control mb-2" name="Description">@Html.Raw(Model.Description)</textarea>
                            <p>CreatedDate</p>
                            <input style="pointer-events: none;" class="form-control mb-2" name="Title" value="@Model.CreatedDate" />
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <p>Photo</p>
                    <img class="img-fluid" src="@Model.PhotoURL" />
                </div>
            </div>
           <div class="card p-3 mt-3">
                <a class="btn btn-primary btn-sm" href="/admin/introduction/edit/@Model.ID">Edit</a>
            </div>
            <div class="card p-3 mt-3">
                <a class="btn btn-primary btn-sm" href="/admin/introduction">Back to List</a>
            </div>
            
             
        </div>
    </div>



</form>